
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/Frame/ANT/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Frame/LTE/plugins/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Frame/LTE/plugins/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <!--下拉框样式，放在LTE样式前-->
    <link href="~/Frame/LTE/plugins/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Frame/LTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Frame/LTE/dist/css/skins/_all-skins.min.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--自定义公共样式-->
    <link href="~/Frame/LTE/plugins/hiSlider/jquery.hiSlider.min.css" rel="stylesheet" />
    <link href="~/Frame/LTE/plugins/hiSlider/weui.min.css" rel="stylesheet" />
    <style>
        .ad img {
            width: 100%;
            height: 100%;
        }

        @@media screen and (min-width: 320px) {
            .ad, ul, li {
                width: 100%;
                /*min-height: 100px;*/
                height: 110px;
            }
        }

        @@media screen and (min-width: 375px) {
            .ad, ul, li {
                width: 100%;
                height: 140px;
            }
        }

        @@media screen and (min-width: 400px) {
            .ad, ul, li {
                width: 100%;
                height: 160px;
            }
        }

        @@media screen and (min-width: 768px) {
            .ad, ul, li {
                width: 100%;
                height: 300px;
            }
        }

        /*广告*/
        li {
            list-style: none;
        }

            li img {
                display: block;
                margin: 0 auto;
            }

        .hiSlider {
            overflow: hidden;
            width: 100%;
            background: #eee;
        }

        .hiSlider-item {
            float: left;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body id="vue_1">
    <div class="banner">
        <div class="ad">
            <ul class="hiSlider">
                <li data-title="标题1" class="hiSlider-item"><img src="~/Images/1.jpg"></li>
                <li data-title="标题2" class="hiSlider-item"><img src="~/Images/2.jpg"></li>
                <li data-title="标题3" class="hiSlider-item"><img src="~/Images/3.jpg"></li>
                <li data-title="标题4" class="hiSlider-item"><img src="~/Images/4.jpg"></li>
            </ul>
        </div>
    </div>
    <img id="validateCode" v-on:click="loaddata($event)" style="cursor: pointer;" src="@Url.Action("GetImg", "Banner")?width=130&height=34&t=@DateTime.Now.Ticks" title="看不清，点击换一张" />
    <script src="~/Frame/LTE/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Frame/vue/vue.js"></script>
    <script src="~/Frame/vue/vue-resource.min.js"></script>
    <script src="~/Frame/VUE/app_addon.js"></script>
    <script src="~/Frame/ANT/js/bootstrap.min.js"></script>
    <script src="~/Frame/LTE/dist/js/app.min.js"></script>
    <!--以上必备-->
    <script src="~/Frame/LTE/plugins/hiSlider/jquery.hiSlider.min.js"></script>

    <script type="text/javascript">
        var componet = new Vue({
            el: '#vue_1',
            data: {
                column:2,//每页条数
                page: 1,//当前页码

                //列表数据
                imglist: [],
                Title:""
            },
            methods: {
                loaddata: function (e) {//验证码刷新
                    var newSrc = "@Url.Action("GetImg", "Banner")" + "?width=130&height=34&t=" + (new Date()).getTime();
                    $(e.target).attr('src', newSrc);
                    this.txtCode = "";
                },
                showData: function () {
                    var _self = this;

                    var url = '/FundsHome/GetNotice';
                    var httpOptions = {
                        params: {

                        }
                    };
                    this.$http.get(url, httpOptions).then(function (response) {
                        // 响应成功回调
                        var _return;
                            _return = response.data;

                        _self.imglist = _return.model.imglist;
                        _self.Title = _return.model.title;
                        //页面渲染完成时执行
                        _self.$nextTick(function () {
                            $('.hiSlider').hiSlider();
                        })
                    }, function (response) {
                        // 响应错误回调
                        alert('数据加载错误，请检查网络并刷新', '错误');
                    })
                },//动态加载轮播图
            },
            created: function () {
            },
            ready: function () {
                $('.hiSlider').hiSlider();
            }
        });
    </script>
</body>
</html>
