<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link href="~/Frame/LTE/plugins/weui-master/dist/style/weui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="weui-msg">
        <div class="weui-icon_area"><i class="weui-icon-cancel weui-icon_msg"></i></div>
        <div class="weui-text_area">
            <h2 class="weui-msg__title">操作有误</h2>
            <p class="weui-msg__desc">支付失败</p>
        </div>
        <div class="weui-opr-area">
            <p class="weui-btn-area">
                <a href="/Home/Index" class="weui-btn weui-btn_primary">确定</a>
                @*<a href="#" class="weui-btn weui-btn_default">取消</a>*@
            </p>
        </div>
        <div class="weui_extra_area">
            <a href=""></a>
        </div>
    </div>
</body>
</html>
